<h1>Here's your form</h1>

<form action="/send_form" method="post">
  <div>
    <label for="form_message"></label>
    <input type="text" id="form_message" name="message">
  </div>
  <div>
  <input type="submit" value="Send Message">
  <div>
</form>
