<h1>Here's your form</h1>

<!-- ** how to create a form in html ** -->
<!-- <form action="/send_form" method="post">
  <div>
    <label for="form_message">Enter Message</label>
    <input type="text" id="form_message" name="message">
  </div>
  <div>
  <input type="submit" value="Send Message">
  <div>
</form> -->

<!-- ** versus how to create a form in rails ** -->
<%= form_tag '/send_form', method: :post do %>
  <div>
     <%= label_tag :message, 'Enter Message' %>
     <%= text_field_tag :message, nil, placeholder: "placename here" %>
  </div>
  <div>
    <%= submit_tag 'Send Message' %>
  </div>
<% end %>
